[submodule "frontend/modules/shared"]
	path = frontend/modules/shared
	url = https://github.com/PeerInfinity/archipelago-shared.git
[submodule "frontend/modules/textAdventureEngine"]
	path = frontend/modules/textAdventureEngine
	url = https://github.com/PeerInfinity/archipelago-textadventure-engine.git
[submodule "frontend/modules/journey-to-ascension"]
	path = frontend/modules/journey-to-ascension
	url = https://github.com/PeerInfinity/journey-to-ascension.git
	branch = substrate
[submodule "frontend/modules/omsi-loops"]
	path = frontend/modules/omsi-loops
	url = https://github.com/PeerInfinity/omsi-loops.git
	branch = substrate
[submodule "frontend/modules/cavernous-ii"]
	path = frontend/modules/cavernous-ii
	url = https://github.com/PeerInfinity/cavernous-ii.git
	branch = substrate
[submodule "frontend/modules/flashPanel/wasm"]
	path = frontend/modules/flashPanel/wasm
	url = https://github.com/PeerInfinity/seedling-wasm.git
