[submodule "frontend/modules/shared"]
	path = frontend/modules/shared
	url = https://github.com/PeerInfinity/archipelago-shared.git
[submodule "frontend/modules/textAdventureEngine"]
	path = frontend/modules/textAdventureEngine
	url = https://github.com/PeerInfinity/archipelago-textadventure-engine.git
